.card{
    width: 600px;
    margin-left:400px;
    margin-top:80px;
    margin-bottom: 10px;
}
.card-header,.card-footer{
    background-color: #66b2b2;
}
.card-body{
    background-color: #b2d8d8;

}
.size{
    font-size: 35px;
}
.sizebody{
    font-size: 25px;
}