<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="grid-container">
  <!-- row 1 -->
  <div class="search">
    <div class="display-4"><strong>Products</strong></div>
    <br>
    <!-- <label for="">Search:</label> &nbsp; &nbsp;  -->
    <input type="text" placeholder="Search for product name..." size="50" #tabsearch> &nbsp;
    <button class="btn btn-info" (click)="getSpecificProducts(tabsearch.value)"> Search</button>
  </div>
  <p>{{searchmed}}</p>

  <!-- row 2 -->
  
  <div class="product">
        
       
      <div class="subgrid" *ngIf='!displaysearch'>
        <div class="card" *ngFor="let product of allProduct"> 
        
        <div class="card-body"></div>
      

         <div class="card-header">
          <img src="../../assets/images/tablet1.jfif" />
        

           <h3>{{product.name}}</h3>

          </div>
         <div class="card-body">
         
            <li><strong>Use:</strong>{{product.use}}</li><br/>
               <button class="btn" (click)="viewDetails(product.name)">See Details</button>
            
          </div>

       
      </div>
      </div>

    <!-- subgrid closed -->
    <div *ngIf="displaysearch" class="specificsearch">
      <div class="card " *ngIf="searchedProduct">
        <!-- code here the card to display the detail of the specific product searched -->
        <div class="card-header">
        <img src="../../assets/images/tablet1.jfif" />
      
      <h3>{{searchedProduct.name}}</h3>
      </div>
      <div class="card-body">
        <li><strong>Use:</strong>{{searchedProduct.use}}</li><br/>
    
        <button class="btn" (click)="viewDetails(searchedProduct.name)">See Details</button>
      </div>

       
    </div>
    </div>


    
    <div *ngIf="showError" class="error">
      <h4><span class="fas fa-cat"></span> {{errorMessage}}</h4>
    </div>
  <div>
</div>
